.panel-body {
    background: #696969;
    font-size: 120%;
    position: relative;
    z-index: 1;
}

.btn-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.white-text {
    color: #fff;
}

.second-panel {
    position: relative;
    width: 20%;
    height: 100vh;
    margin-top: 0;
}

.second-panel-body {
    background: #fff;
    font-size: 120%;
    position: relative;
    z-index: 1;
    height: 100%;
}

.panel {
    margin-bottom: 0;
}

.admin-panel {
    position: relative;
    width: 80%;
    height: 100vh;
}

.admin-panel-body {
    background: #f2f2f2;
    font-size: 120%;
    position: relative;
    z-index: 1;
    height: 100%;
}

.panels-container {
    display: flex;
    justify-content: space-between;
}

.table-container {
    margin-left: 60px;
    margin-right: 60px;
}

.table-bordered-noborder {
    border-collapse: collapse;
}

.table-bordered-noborder th,
.table-bordered-noborder td {
    border: none;
}

h1 {
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
.nav-pills.indent {
    margin-left: 50px;
}

.page-heading {
    margin-top: 70px;
}

.new-user {
    text-align: center;
    margin: 0 35% 0 35%;
}

.new-user-form {
    background-color: #fff;
    padding: 20px;
}

#add-user-button.btn-primary {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
}