<form action="#" th:action="@{/new}" th:object="${user}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}" /></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" th:field="*{lastName}" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" th:field="*{password}" /></td>
    </tr>
    <tr>
      <td>Roles:</td>
      <td>
        <select name="selectedRoles" multiple="multiple">
          <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}">Role</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Create User</button></td>
    </tr>
  </table>
</form>