<form th:method="PATCH" th:action="@{/update}" th:object="${user}">

  <input type="hidden" th:field="*{id}"/>

  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <label for="lastName">Enter lastname: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>

  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>

  <tr>
    <td>Roles:</td>
    <td>
      <select name="selectedRoles" multiple="multiple">
        <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}">Role</option>
      </select>
    </td>
  </tr>

  <input type="submit" value="Update!"/>
</form>